.footer-section-meta {
  background-color: transparent;
}

.footer-section-meta .footer-copyright {
  color: #999999;
}

.breadcrumb-section {
  background-color: transparent;
}

.breadcrumb-section a {
  color: CornflowerBlue;
  text-decoration: none;
}

.breadcrumb-section a:hover {
  text-decoration: underline;
}

.navbar-mainnavigation .navbar-brand-image img {
  border: 1px solid black;
}

.language-menu a {
  color: CornflowerBlue !important;
  text-decoration: none !important;
}

.language-menu a:hover {
  color: CornflowerBlue !important;
  text-decoration: underline !important;
}

input[type="submit"] {
  background-color: CornflowerBlue !important;
  color: #fefefe !important;
  text-transform: capitalize;
  --bs-btn-font-size: 1.4rem !important;
}

input[type="submit"]:hover {
  background-color: CornflowerBlue !important;
  color: #fefefe !important;
  opacity: 0.85 !important;
}